.container__item {
  background-color: grey;
  width: 350px;
  border-radius: 6px;
  box-shadow: 2px 2px 3px black;
  transition: 0.3s;
  justify-content: space-around;
  margin: 30px;
  padding: 15px;
}

h2 {
  margin-top: 0;
}

.container__item:hover {
  background-color: rgb(158, 158, 158);
}
